.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

.bg {
  z-index: -1;
  object-fit: cover;
  object-position: top;
  position: fixed !important;
  inset: 0;
  transform: translateZ(0);
  // filter: brightness(0.7);
}

.inner {
  position: relative;
  z-index: 1;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  // padding: 0 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 25px;
}

.heading {
  font-size: 4rem;
  line-height: 1.05;
  font-weight: 400;
  margin: 0;

  // margin-bottom: 12px;
}

.paragraph {
  font-size: 1.5rem;
  max-width: 900px;
  margin: 0;

  // margin: 0 auto 28px;
}

.cta {
  display: inline-block;
  padding: 16px 28px;
  background: #fff;
  color: #222;
  border-radius: 4px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.3rem;
  z-index: 1;

  // margin: 0;
}

.badges {
  // position: absolute;
  // border: 2px solid red;
  // bottom: 40px;
  // display: flex;
  // gap: 18px;

  // left: 50%;
  // transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .hero {
    height: 90vh;
  }

  .inner {
    gap: 20px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 80px 0;
  }

  .inner {
    text-align: center;
    padding: 0 16px;
  }

  .paragraph {
    font-size: clamp(0.95rem, 3.2vw, 1.2rem);
    max-width: 100%;
  }

  .cta {
    font-size: 1rem;
    padding: 14px 24px;
  }
}
