.wrap {
  position: relative;
  padding: 80px 0;
  background: #fff;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 600px;

  @media (max-width: 1024px) {
    flex-direction: column;
    min-height: unset;
  }
}

.left {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  @media (max-width: 1024px) {
    order: 2;
    justify-content: center;
    align-items: center;
    height: auto;

    img {
      width: 80% !important;
      max-width: 460px;
      height: auto !important;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      object-fit: contain !important;
    }
  }
}

.right {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background: radial-gradient(circle at top right, #f9f7f3 0%, #f5f2ed 100%);
  background: #ececec;
  padding: 0px 100px;

  @media (max-width: 1024px) {
    order: 1;
    padding: 60px 24px;
    text-align: center;
  }
}

.heading {
  font-weight: 400;
  font-size: clamp(32px, 4vw, 50px);
  // color: #006a8e;
  color: #007ba7 !important;

  margin-bottom: 24px;
}

.paragraph {
  font-size: 16px;
  line-height: 1.8;
  // color: #232323;
  margin-bottom: 18px;
}
