.gallery {
    width: calc(100% - 2rem);
    padding: 3rem 1rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 125px);
    gap: .5rem;
    cursor: url('/logos/custom-cursor.webp'), pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .5s ease;
        filter: grayscale(45%) brightness(85%);
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        &:hover {
            filter: grayscale(0) brightness(150%);
            border-radius: 25px;
        }
    }

    @media screen and (min-width:768px) {
        grid-template-rows: repeat(4, 175px);
    }

    @media screen and (min-width:992px) {
        grid-template-rows: repeat(4, 200px);
    }

    @media screen and (min-width:1200px) {
        grid-template-rows: repeat(4, 250px);
    }
}