@import "@SASS/variables.scss";


.box {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    background-color: #ececec;

    @media (min-width: 768px) {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    @media (min-width: 992px) {
    }

    @media (min-width: 1280px) {
        max-width: 80%;
        margin: 3rem auto;
        border-radius: 25px;
    }

    .item {
        position: relative;
        padding: 0 0 0 2rem;
        margin: 0 auto auto;

        @media (min-width: 576px) {
            max-width: 75%;
        }


        // padding: 0 0 0 2rem;
        // max-width: 25rem;

        &:before {
            content: '';
            background-image: url('/svg/check.svg');
            background-size: contain;
            background-repeat: no-repeat;
            height: 1.75rem;
            width: 1.75rem;
            // padding: 0.05rem 0.25rem;
            border-radius: 50%;
            // background-color:$theme_color;
            color: $white;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            // top: .20rem;
        }

        h4 {
            color: $theme_color;
            font-weight: bold;
            margin: 0 auto auto 0;
            font-size: 1.25rem;
        }

        p {
            font-size: 1rem;
        }
    }
}