

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: none;
    background-color: transparent;
    // height: 1rem;
    border-bottom: 1px solid black;
    // color: white;
    cursor: pointer;
}