@import '@SASS/variables';

.menu {
    display: none;
    align-items: center;
    column-gap: 35px;

    @media screen and (min-width:992px) {
        display: flex;
    }
}

.menu {
    flex-grow: 1;
    justify-content: flex-start;
    position: relative;

    .submenu {
        will-change: height;
        width: 100%;
        min-width: max-content;
        height: 0;
        border-radius: 0.5rem;
        position: absolute;
        overflow: hidden;
        background-color: $white;
        color: $dark_1;
        transition: height 0.5s ease;
        top: calc(100% + 5px);
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1.5rem;
        z-index: 51;

        .li {
            will-change: height;
            transition: height 0.5s ease;
            height: 0;
        }

        @media screen and (min-width:1140px) {
            max-width: 992px;
        }

        @media screen and (min-width:1300px) {
            max-width: 1024px;
        }


    }

    >li:hover {
        .submenu {
            min-height: 25px;
            height: auto;
            padding: 0.75rem;
            .li {
                height: 25px;
            }
        }
    }
}

.menuLink {
    will-change: auto;
    position: relative;
    color: inherit;
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 1rem;
    letter-spacing: 1.2px;
    padding-bottom: 0.5rem;
    padding-top: 0;
    display: inline-flex;
    align-items: center;

    span {
        min-width: max-content;
    }

    svg {
        padding: 0 7px;
        transform: rotate(90deg);
        height: 12px;
        margin-top: 2px;

        path {
            fill: $white;
        }
    }

    &::first-letter {
        // font-family: $HelveticaNowText;
        font-size: 1.25rem;
    }

    &:visited {
        color: inherit;
    }

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: $white;
        height: 1px;
        transition: all .5s;
    }

    &:hover {
        svg {
            path {
                fill: $dark_1;
            }
        }
    }

    &:hover:after {
        width: 100%;
    }

    &.logo {
        svg {
            transform: none;
        }

        &:after {
            content: none;
        }
    }
}