@import "@SASS/variables.scss";

.footer {
    background-color: #f7fafc;
    max-width: 100%;

    @media (min-width: 1024px) {
        padding-top: 2rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 90rem;
        margin: 0 auto;
        padding: 2rem;

        @media (min-width: 1024px) {
            flex-direction: row;
            padding: 3.5rem 0;
        }

        .logo {
            height: 100%;
            margin: auto;
        }

        .nav {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            gap: 2rem;
            font-family: sans-serif;

            @media (min-width: 768px) {
                grid-template-columns: repeat(4, 1fr);
                gap: 3.5rem;
            }

            .navItem {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: space-evenly;

                h3 {
                    font-size: 1rem;
                    margin: 1.25rem 0;
                    font-weight: bold;
                    color: $dark_1;
                    letter-spacing: 1px;
                }

                ul {
                    width: calc(100% - 1rem);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    gap: .75rem;
                    font-size: 0.875rem;
                    color: $dark_2;
                    letter-spacing: 1px;
                    // color: #4a5568;
                    margin: 0 .75rem;
                    padding: 0;
                }
            }
        }

    }


    .bottom {
        background-color: $dark_1;
        padding:0 1rem;

        .footer {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            max-width: 90rem;
            height: fit-content;
            margin-top: 2rem;
            padding: 0;
            margin: 0s;
            background-color: transparent;
            color: $white;

            @media (min-width: 640px) {
                flex-direction: row;
                margin: 0 auto;
            }
        }

        .footerLinks {
            align-self: center;
            justify-self: start;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            gap: 1.25rem;
            font-size: 0.75rem;
            letter-spacing: 0.05em;
            font-family: sans-serif;

            p:first-letter {
                font-size: 0.85rem;
            }

            a {
                margin-left: 1.25rem;
            }
        }

        .socialLinks {
            align-self: center;
            justify-self: flex-end;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            @media (min-width: 640px) {
                column-gap: 1.25rem;
            }

            img {
                display: inline-flex;
                height: 1.25rem;
                width: auto;

                @media (min-width: 768px) {
                    width: auto;
                    height: 1rem;
                }
            }
        }
    }

}