@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
html {
  font-family: 'SUSE','Roboto';
  font-size: 17px; 
}

@media (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
}


/* Headings......... */
h2 {
  font-family: "Bruno Ace SC", sans-serif;
  position: relative;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #024950;
}
h3 {
  font-family: "Bruno Ace SC", sans-serif;
  position: relative;
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #024950;
}
h4 {
  font-family: "SUSE", sans-serif;
  position: relative;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #024950;
}