@font-face {
    font-family: 'Custom Font';
    src: url('/font/amsterdam-one/AmsterdamOne-eZ12l.ttf') format('truetype');
        //  url('/font/CustomFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }