@import "@SASS/variables";

.Page {
    background-color: #f9fafb;

    .hero {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, $theme_color, #00b4d8);
        color: white;
        text-align: center;
        // background-image: url('/raster/Innovative Medical Wellness - wellness.jpg');
        // background-image: url('/raster/Innovative Medical Wellness.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        padding: 5rem 0;
        height: 85vh;
        overflow: hidden;

        .heroContent {
            background: rgba(0, 0, 0, 0.65);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                color: #d3d3d3;
                font-weight: 300;
                font-size: 1.35rem;
                letter-spacing: 6px;
                margin-bottom: 0;
                width: 25rem;
                text-transform: uppercase;
                padding-bottom: 0.75rem;

                &::first-line {
                    color: #ffffff;
                    font-family: $font_secondary;
                    letter-spacing: 5px;
                    text-align: justify;
                    width: 100%;
                    text-transform: unset;
                    font-size: 2rem;
                    font-weight: 800;
                }

            }

            p {
                border-top: 6px solid $light_2;
                color: $theme_light;
                font-size: 1rem;
                letter-spacing: 1px;
                text-align: justify !important;
                width: 30rem;
                font-weight: 300;
                margin-top: 0;
                padding-top: 1.25rem;
                padding-right: 2rem;

                @media (max-width: 575px) {
                    max-width: 20rem;
                }
            }
        }

        svg {
            position: absolute;
            width: 170%;
            height: 22rem;

            @media screen and (min-width:768px) {
                width: 100%;
                height: 25rem;
            }
            path {
                // fill: transparent;
            }
        }

        svg:last-child {
            transform: rotate(180deg);
            top: 0;

            path {
                fill: $theme_color;

            }
        }

        svg:first-child {
            bottom: 0
        }
    }

    .services {
        text-align: center;

        h2 {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }

        .serviceList {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1.5rem;
            padding: 0;

            li {
                background-color: #fff;
                padding: 1rem;
                border-radius: 0.5rem;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .testimonials {
        background-color: #0e0e0e;
        // background-color: #024a50;
        padding: 5rem 2rem;
        margin: 5rem 0 0;
        text-align: center;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
            color: white;
            margin: 2rem auto;
        }

        p {
            font-size: .9rem;
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 1.5rem;
            font-style: italic;
        }
        .source{
            img {
                margin: .25rem;
            }
        }
    }

    .cta {
        text-align: center;
        padding: 2rem;
        background-color: rgb(32, 32, 32);
        color: white;

        h2 {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }

    }
}