@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$black: #100007;
$white: #fafafa;
$lightblue: #329DFF;
// $darkblue: #1934a4;
$darkblue: rgb(23, 35, 69);
$text_color: #545454;
$footer: #131F2B;
$footer_color: #84A95B;

$base-font-family: "Roboto", Sans-serif;
$footer_font-family: "Work Sans", sans-serif;