$black: #100007;
$white: #fafafa;
$light_1: #38b6ff;
$light_2:#9BEC00;
 
$dark_1:#004166;
$dark_2:#1A4D2E;

$theme_color: #004166;
$theme_light:#D4F1F9;


$text_color: #545454;
$footer: #131F2B;
$footer_color: #84A95B;
$dark:#003135;
$dark_1:#024950;
$accent:#964734;

$font_primary: "SUSE", sans-serif;
$font_secondary: "Bruno Ace SC", sans-serif;
$font_help: sans-serif;