$black: #100007;
$white: #fafafa;
$light_2: #9BEC00;


$theme_color: #024950;
// $theme_color: #004166;
$theme_light: #dadbdb;

$green_dark: #004400;
$green_light: #D4F9D4;

$red_dark: #5C0013;
$red_light: #F9D4D4;

$text_color: #545454;

$font_primary: "SUSE", sans-serif;
$font_secondary: "Bruno Ace SC", sans-serif;
$font_help: sans-serif;