@import "@SASS/variables.scss";

.about {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .about_inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        width: 100%;

        .left_side {
            flex: 1;
            padding: 1.5rem;

            h2 {
                font-size: 3rem;
                font-weight: 200;
                letter-spacing: -2px;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
                line-height: 1.4;
                color: $text_color;
                margin-bottom: 20px;
            }
        }

        .right_side {
            flex: 1;
            padding: 1.5rem;

            img {
                width: 100%;
                height: auto;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
                line-height: 1.4;
                color: #333;
            }
        }
    }

    /* Mobile-first styles (below 768px) */
    @media (max-width: 768px) {
        .about_inner {
            flex-direction: column;
            align-items: center;
            margin-right: 0;
            /* Set margin-right to 0 */
        }

        .right_side {
            display: none;
        }

        .left_side {
            h2 {
                font-size: 2.5rem;
                /* Smaller for mobile */
                letter-spacing: -1px;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    /* Larger screen sizes media query */
    @media (min-width: 768px) {
        .about_inner {
            flex-direction: row;
            align-items: flex-start;
            margin-right: 0;
            /* Ensures margin-right is 0 at this breakpoint */
        }

        .left_side {
            h2 {
                font-size: 3.5rem;
                letter-spacing: -3px;
            }

            p {
                font-size: 1rem;
                line-height: 1.6;
            }
        }

        .right_side {
            display: block;

            img {
                width: 100%;
                height: auto;
            }

            p {
                font-size: 1rem;
                line-height: 1.6;
            }
        }
    }

    /* Larger desktops */
    @media (min-width: 1024px) {
        .about_inner {
            max-width: 1200px;
            margin-left: 30px;

            p {
                font-size: 1rem;
            }
        }
    }

    /* Adjustments for screen size up to 1110px */
    @media (max-width: 1110px) {
        .about_inner {
            flex-direction: column;
            width: 100%;
            margin: 0;
            margin-right: 0;
            /* Ensures margin-right is 0 */
        }
    }
}