@import "@SASS/variables.scss";

.about {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4rem);
    margin: 0 auto 3rem;
    height: fit-content;



    .left_side {
        padding: 0 1.5rem;

        h2 {
            font-family: $font_secondary;
            color: $theme_color;
            font-weight: 400;
            font-size: 3rem;
            letter-spacing: 1px;
            margin-bottom: 1rem;
        }

        figcaption {
            font-size: 1rem;
            line-height: 1.4;
            color: $text_color;
            margin-bottom: 20px;
        }
        .socialLinks {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-top: 5px solid black;
            padding: .25rem .25rem 0;
            gap: .75rem;
            img {
                display: inline-flex;
                align-self: center;
                height: 1.25rem;
                width: auto;

                @media (min-width: 768px) {
                    width: auto;
                    height: 1rem;
                }
            }
        }
    }

    .right_side {
        display: none;
    }


    @media (min-width: 768px) {
        flex-direction: column;

        .left_side {
            h2 {
                font-size: 3.5rem;
            }

            figcaption {
                font-size: 1rem;
                line-height: 1.6;
            }
        }

        .right_side {
            display: block;

            .img {
                height: 20rem;
                max-width: 100%;
                object-fit: cover;
                object-position: top center;
                margin-bottom: 1rem;
                border-radius: 25px;
            }

            figcaption {
                font-size: 1rem;
                font-family: $font_help;
                letter-spacing: 1px;
                color: #333;
                display: grid;
                grid-template-columns: 2rem auto;
                column-gap: .5rem;
                align-items: center;

                .infoIcon {
                    width: auto;
                    height: 1.75rem;
                    display: inline-block;
                }
            }
        }
    }

    @media (min-width: 992px) {
        flex-direction: row;
        .left_side {
            align-self: flex-start;
            margin-top: auto;
            margin-bottom: 3rem;
        }

        .right_side {
            min-width: 20rem;
            align-self: flex-end;
            margin-top: 3rem;
            margin-bottom: 0;

            .img {
                height: 15rem;
            }
        }

    }
    @media (min-width: 1280px) {
        max-width: 80%;
        margin: 2rem auto 7rem;

    }
}