@import "@SASS/variables.scss";

// Mobile-first default behavior
.cardWrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 4rem 2.5rem;
    background-image: url('/raster/Innovative Medical Wellness.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat ;

    .inner {
        width: auto;
        max-width: 450px;
        margin: 3rem auto;
        text-align: center;
        border-radius: 25px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        
        img {
            height: 17rem;
            max-width: 100%;
            object-fit: cover;
            border: none;
            border-radius: 0;
            box-shadow: none;
            transition: transform .3s ease-out;
        }

        figcaption {
            margin: 1rem;

            h3 {
                color: $theme_color;
                font-size: 1.75rem;
            }

            p {
                color: $text_color;
            }

        }
    }


    @media (min-width: 992px) {
        grid-template-columns: repeat(3,1fr);
        row-gap: 0;
        column-gap: 3rem;
        padding: 6rem 2.5rem;

        .inner {
            img {
                height: 12rem;
            }

            h3 {
                font-size: 1.5rem !important;
            }


        }
    }
    @media (min-width: 1200px) {

        .inner {
            img {
                height: 15rem;
            }
        }
    }
}