@import "@SASS/variables.scss";

// Mobile-first default behavior
.cardWrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 4rem 2.5rem;
    background-color: $theme_light;

    .inner {
        width: auto;
        max-width: 450px;
        margin: 1rem auto;
        text-align: center;
        border-radius: 25px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        
        img {
            height: 17rem;
            max-width: 100%;
            object-fit: cover;
            border: none;
            border-radius: 0;
            box-shadow: none;
            transition: transform .3s ease-out;
        }

        figcaption {
            margin: 1rem;

            h2 {
                color: $theme_color;
            }

            p {
                color: $text_color;
            }

        }
    }


    @media (min-width: 992px) {
        grid-template-columns: repeat(3,1fr);
        row-gap: 0;
        column-gap: 3rem;
        padding: 6rem 2.5rem;

        .inner {
            img {
                height: 12rem;
            }

            h2 {
                font-size: 25px;
                margin-left: 21px;
            }

            p {
                font-size: 16px;
            }
        }
    }
    @media (min-width: 1200px) {

        .inner {
            img {
                height: 15rem;
            }
        }
    }
}