@import "@SASS/variables.scss";

// Mobile-first default behavior
.cardWrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 4rem 2.5rem;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 1s ease;

    * {
        transition: all 1.5s ease;
    }

    .close {
        display: none;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.356);
        z-index: 1;
    }

    figure {
        z-index: 3;
    }

    .inner {
        width: auto;
        max-width: 450px;
        margin: 3rem auto;
        text-align: center;
        border-radius: 25px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        
        .img {
            height: 17rem;
            max-width: 100%;
            object-fit: cover;
            border: none;
            border-radius: 0;
            box-shadow: none;
            transition: transform .3s ease-out;
        }

        figcaption {
            margin: 1rem;
            transition-delay: 0.75s;
            ul {
                height: 0;
                transition-delay: 1s;
                overflow: hidden;
            }

            h3 {
                color: $theme_color;
                font-size: 1.75rem;
                font-family: $font_primary;
                transition-delay: 0.75s;
            }

            p {
                color: $text_color;
                transition-delay: 0.75s;
            }

        }
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
        column-gap: 3rem;
        padding: 6rem 2.5rem;
    }

    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);

        .inner {
            text-align: left;

            img {
                height: 12rem;
            }

            h3 {
                font-size: 1.25rem !important;
                font-weight: 500;
            }


        }
    }

    @media (min-width: 1200px) {
        .inner {
            img {
                height: 15rem;
            }
        }
    }

    &.reading {
        z-index: 50;
        // position: fixed;
        top: 0;
        left: 0;
        gap: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        figure {
            display:none ;
        }

        .overlay {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.795);
            z-index: 6;
        }
        .active {
            display: block;
            width: 90vw ;
            max-width: 90vw;
            height: 90vh;
            margin: 0;
            // top: 5vh;
            // left: 5vw;
            z-index: 60;
            background-color: #ffffff;
            .close {
                position: fixed;
                display: block;
                float: right;
                z-index: 50;
                top: 1rem;
                right: 1rem;
                height: 3rem;
                width: 3rem;
                cursor: pointer;
            }

            .img {
                width: 100%;
                height: 15vh;
            }
            figcaption {
                max-width: 65rem;
                margin: 2rem auto;

                h3 {
                    font-size: 2rem !important;
                    font-weight: bold;
                }

                p {
                    font-size: 1.25rem;
                }

                ul {
                    height: 35vh;
                    margin: 2rem auto;
                    padding: 0;

                    li {
                        margin: 1rem auto;
                        letter-spacing: 1px;
                        line-height: 1.5rem;
                        text-align: justify;
                    }
                }
            }
        }
    }

}