@import "@SASS/variables.scss";

.wrap {
    background-image: url('/raster/doctor.jpg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 7rem 0;

    @media (min-width: 769px) {
        padding: 10rem 0;
    }

    @media (min-width: 992px) {
        padding: 15rem 0;
    }

    .container {
        max-width: 30rem;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.16);
        border: 1px solid white;
        backdrop-filter: blur(16px);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        margin: 1rem;
        padding: 2rem;
        border-radius: 25px;

        @media (min-width: 576px) {
            margin: 1rem auto 0 2.5rem;
        }

        @media (min-width: 769px) {
            margin: 1rem 5rem 0 auto;
        }

        @media (min-width: 992px) {
            margin: 1rem 10rem 0 auto;
        }

        .contact_details {
            h2 {
                font-size: 1.75rem;
            }

            aside {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                margin-left: 1.5rem;

                a {
                    padding: .25rem;
                    margin: .5rem auto auto 0;
                    display: grid;
                    grid-template-columns: 1.5rem auto;
                    align-items: center;
                    gap: .5rem;

                    svg {
                        height: 1.25rem;
                    }
                }
            }
        }


        .contact_form h2 {
            font-size: 1.75rem;
        }
    }
}
