@import "@SASS/variables.scss";

.wrap {
    background-image: url('/raster/doctor.jpg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 7rem 0;

    @media (min-width: 769px) {
        padding: 10rem 0;
    }

    @media (min-width: 992px) {
        padding: 15rem 0;
    }

    .container {
        max-width: 30rem;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.16);
        border: 1px solid white;
        backdrop-filter: blur(16px);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        margin: 1rem;
        padding: 2rem;
        border-radius: 25px;

        @media (min-width: 576px) {
            margin: 1rem auto 0 2.5rem;
        }

        @media (min-width: 769px) {
            margin: 1rem 5rem 0 auto;
        }

        @media (min-width: 992px) {
            margin: 1rem 10rem 0 auto;
        }

        .contact_details {
            h2 {
                font-size: 1.75rem;
            }

            aside {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                margin-left: 1.5rem;

                a {
                    padding: .25rem;
                    margin: .5rem auto auto 0;
                    display: grid;
                    grid-template-columns: 1.5rem auto;
                    align-items: center;
                    gap: .5rem;

                    svg {
                        height: 1.25rem;
                    }
                }
            }
        }


        .contact_form h2 {
            font-size: 1.75rem;
        }
    }
}


.input_box {
    position: relative;
    width: 100%;
    margin-top: 0.625rem;
}

.input_box input,
.input_box textarea {
    width: 100%;
    padding: 0.3125rem 0;
    font-size: 1rem;
    margin: 0.625rem 0;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    resize: none;
    background: transparent;
}

.input_box span {
    position: absolute;
    left: 0;
    padding: 0.3125rem 0;
    font-size: 1rem;
    margin: 0.625rem 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    font-style: italic;
}

.input_box input:focus~span,
.input_box textarea:focus~span {
    color: $text_color;
    font-size: 0.75rem;
    transform: translateY(-1.25rem);
}

.input_box input:focus,
.input_box textarea:focus {
    border-bottom: 1px solid $text_color !important;
}

.input_box button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    background-color: #8fb660;
    border-color: transparent;
    padding: 0.9375rem 1.6875rem;
    font-size: 1rem;
    border-radius: 3.125rem;
    transition: all 0.3s ease-in-out !important;
    cursor: pointer;

    svg {
        font-size: 1.25rem;
        margin-right: 0.4375rem;
        margin-bottom: -0.25rem;
    }
}

.input_box button:hover {
    color: #ffffff;
    background-color: #1e3423;
    transition: all 0.3s ease-in-out;
}

/* Tablet and larger screens */
// @media (min-width: 768px) {

//     .input_box input,
//     .input_box textarea {
//         width: 40%;
//     }
// }