@import "@SASS/variables.scss";

.wrap {

    --brand-color: $theme_color;
    --black: $black;
    --white: $white;
    /* Fonts */
    --font-title: $font_primary;
    --font-text:  $font_secondary;
    position: relative;
    overflow-x: hidden;
    padding: 5rem 0;

    .section1 {
        min-height: 60vh;
        padding: 1.5rem;
        max-width: 60rem;
        margin: 0 auto;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media screen and (min-width:992px) {
            max-width: 75rem;
        }
        @media screen and (min-width:1200px) {
            max-width: 95rem;
        }
        .h2 {
            font-family: $font_secondary;
            position: relative;
            font-size: 3rem;
            font-weight: 400;
            letter-spacing: 1px;
        }

        .desc {
            padding-top: 0.25rem 0;
            color: grey;
        }

        .list {
            flex-wrap: wrap;
            margin: 3rem auto;
            display: grid;
            gap: 3.5rem;
            grid-template-columns: 1fr;

            @media screen and (min-width:992px) {
                grid-template-columns: repeat(2, 1fr);

            }

            @media screen and (min-width:1200px) {
                grid-template-columns: repeat(3, 1fr);

            }
        }
    }
}
