@use "../style-config/variables" as *;

    .section1 {
        --brand-color: $theme_color;
        --black: $black;
        --white: $white;
        /* Fonts */
        --font-title: $font_primary;
        --font-text:  $font_secondary;
        position: relative;
        padding: 5rem 0;
        min-height: 60vh;
        padding: 1.5rem;
        width: calc(100% - 3rem);
        max-width: 60rem;
        margin: auto ;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media screen and (min-width:992px) {
            max-width: 75rem;
        }
        @media screen and (min-width:1280px) {
            max-width: 80%;
        }
        .h2 {
            font-family: $font_secondary;
            position: relative;
            font-size: 3rem;
            font-weight: 400;
            letter-spacing: 1px;
        }

        .desc {
            padding-top: 0.25rem 0;
            color: grey;
        }

        .list {
            width: 100%;
            margin: 3rem auto;
            display: grid;
            grid-template-columns: 1fr;
            padding: 0;
            li {
                margin: 1rem auto;
            }

            @media screen and (min-width:992px) {
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                li {
                    width: auto;
                }
            }

            @media screen and (min-width:1200px) {
                grid-template-columns: repeat(3, 1fr);

            }
        }
    }

