@import "@SASS/variable.scss";

// Footer Styles
.footer {
    background-color: $footer;
    padding: 70px 0;
    font-family: $base-font-family;

    .container {
        max-width: 1170px;
        margin: auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap !important;
    }
}

.footer-col {
    width: 100%; // Mobile first
    padding: 0 15px;

    h4 {
        font-weight: 700;
        font-style: normal;
        font-family: 'PT Serif', serif;
        color: $white;
        font-size: 30px;
        line-height: 1.6;
        letter-spacing: 0px;
        margin-bottom: 17px;
        position: relative;
        display: flex;
        gap: 12px;

    }

    h2 {
        color: $white;
        font-size: 16px;
        line-height: 3.1;
        font-family: $footer_font-family;

    }

    p {
        font-weight: 400;
        font-style: normal;
        font-family: $footer_font-family;
        color: $white;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0px;
    }

    ul {
        list-style: none;

        li {
            display: flex;
            align-items: center;
            gap: 15px;


            &:not(:last-child) {
                margin-bottom: 10px;
            }

            span {
                display: flex;
            }

            svg {
                color: $footer_color;
                fill: $footer_color;
            }

            a {
                font-size: 16px;
                text-transform: capitalize;
                color: $white;
                text-decoration: none;
                font-weight: 300;
                display: block;
                transition: all 0.3s ease;
                font-family: $footer_font-family;


                &:hover {
                    color: $footer_color;
                    padding-left: 8px;
                }
            }
        }
    }

    .social-links {
        a {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: rgba(255, 255, 255, 0.2);
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: $footer_color;
            transition: all 0.5s ease;

            svg {
                fill: $footer_color;
                margin: 12px;
            }

            &:hover {
                color: $footer_color;
                background-color: $white;
            }
        }
    }
}


// Responsive
@media (min-width: 768px) {
    .row {
        flex-wrap: wrap !important;
    }

    .footer-col {
        width: 50% !important; // Tablet view
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .row {
        flex-wrap: wrap !important;

    }

    .footer-col {
        width: 30% !important; // Desktop view
    }
}