@import "@SASS/variables.scss";

.wrap {    
    background-color: #f8f8f8;
    padding: 5rem 0;

.container {
    align-items: center;
    margin: 3rem auto auto;

    @media (min-width: 576px) {
        max-width: 85%;
    }
    @media (min-width: 992px) {
        display: grid;
        align-items: flex-start;
        grid-template-columns: 40% 60%;
        width: 80%;
    }

    .left {
        padding: 1rem;
        margin: 2rem auto;
        max-width: 80%;
        @media (min-width: 576px) {
            max-width: 75%;
        }
        @media (min-width: 992px) {
            max-width: 35rem;
        }

        h3 {
            font-size: 2.25rem;
            font-family: $font_secondary;
        }

        p {
            color: $black;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.7em;
        }
    }

    .right {
        max-width: 80%;
        margin: 2rem auto;

        @media (min-width: 576px) {
            max-width: 75%;
        }
        @media (min-width: 992px) {
            max-width: 35rem;
            width: 100%;
            height: 100%;
            max-height: 15rem;
            padding: 2rem;
        }

        video {
            width: 100%;
            height: 100%;
            max-height: 15rem;
            object-fit: cover;
            border-radius: 25px;
        }
    }

}
}