@import "@SASS/variables.scss";

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 100px 90px 32px 90px;

    .left {
        // margin-right: 50px;

        h4 {
            color: $black;
            font-family: $base-font-family;
            font-size: 35px;
            font-weight: 300 !important;
            line-height: 40px;
            margin-bottom: 20px;
            width: auto;
        }

        p {
            color: $black;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.7em;
        }
    }
}

.right {

    background-color: $white;
    position: relative;
    width: 100%;
    margin: 10px;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width:480px) {
    .right {
        width: 320px !important;
    }
}

@media(min-width:768px) {
    .container {
        flex-direction: column;
    }

    .right {
        margin-top: 20px !important;
    }
}

@media (min-width:576px) {
    .right {
        margin-top: 20px !important;
    }
}

@media (min-width:1200px) {
    .container {
        flex-direction: row;

        h4 {
            font-size: 45px !important;
            line-height: 47px !important;

        }

        p {
            font-size: 16px !important;

        }
    }
}