.values {
    padding: 2rem 0;
    background-color: #f9f9f9;
    
    h2 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    
    .grid {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 85rem;
      margin: 5rem auto;
      
      .valueItem {
        flex: 1;
        min-width: 250px;
        padding: 1.5rem;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        border-radius: 8px;
        
        h3 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
        
        p {
          font-size: 1rem;
        }
      }
    }
  }
  