@import '@SASS/variables';
@import '@SASS/font';

.nav {
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    align-items: center;
    display: flex;
    z-index: 999;
    padding: .5rem;
    width: calc(100% - 1rem);
    height: 3rem;
    max-width: calc(100vw - 1rem);
    position: fixed;
    top: 0;
    justify-content: space-between;
    column-gap: 2rem;
    transition: all 0.7s ease;

    // @media screen and (min-width:992px) {
    // }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(to bottom, $black, transparent);
        pointer-events: none;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu,
    .shortMenu {
        display: flex;
        align-items: center;
        column-gap: 35px;

    }


    .shortMenu {
        align-self: flex-end;
        display: flex;
        justify-content: center;
        column-gap: 25px;
        height: 100%;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .25rem .35rem;
            border-radius: 25px;

            svg {
                height: 28px;
            }

            &.color {
                background-color: white;

                svg {
                    height: 28px;

                    path {
                        fill: $theme_color;
                    }
                }
            }
        }

        // .mail {
        //     svg {
        //         path {
        //             // fill: transparent;
        //             stroke: rgba(255, 255, 255, 0.5);
        //         }
        //     }

        // }
    }

    .logo {
        display: flex;
        align-items: center;
        width: 13rem;
        // gap: 10px;
        height: 3rem;
        align-self: center;
        will-change: auto;
        margin: 0;
        position: relative;

        img {
            height: 2rem;
            width: auto;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
            left: 2rem;
        }

        h1 {
            flex-grow: 1;
            font-size: 1rem;
            font-weight: 300;
            font-family: 'Monterchi Serif';
            text-align: end;
            word-spacing: .75rem;
            width: 13rem;

            &::first-line {
                font-family: "Custom Font", 'sans-serif' !important;
                font-size: 1.45rem;
                color: $theme_color;
                font-weight: bolder;
                font-weight: 400;
                font-style: normal;
                line-height: 2.5rem;
                text-align: center;
            }

            span {
                margin-right: 1rem;
            }
        }

        // svg {
        //     padding: 0;
        //     width: auto;
        //     margin: 0;
        //     height: 45px;

        //     path,
        //     rect {
        //         fill: $theme_color;
        //     }
        // }


    }

    // &.scrolled {

    .menuLink {
        font-size: 0.8;
        padding: 0;

        svg {
            path {
                fill: $black !important;
            }
        }

        &:after {
            background-color: $black;
        }

        &::first-letter {
            font-size: 1rem;
        }
    }

    &:before {
        display: none;
    }


}

// }