@import '@SASS/variables';

.nav {
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    align-items: center;
    display: flex;
    z-index: 50;
    width: 100%;
    max-width: calc(100vw - 1rem);
    position: fixed;
    top: 0;
    justify-content: flex-start;
    column-gap: 2rem;
    transition: all 0.7s ease;

    @media screen and (min-width:992px) {
        justify-content: flex-start;
        padding: 1rem 1rem;
        width: calc(100% - 2rem);
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(to bottom, $black, transparent);
        pointer-events: none;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu,
    .shortMenu {
        display: flex;
        align-items: center;
        column-gap: 35px;
    }


    .shortMenu {
        align-self: flex-end;
        display: flex;
        justify-content: center;
        column-gap: 25px;

        svg {
            height: 35px;
            align-self: flex-end;

            path {
                fill: $black;
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 35px;
        align-self: center;
        will-change: auto;
        margin: 0;
        padding: 0 0.5rem;

        h1 {
            display: block;
            font-size: 1rem;
            font-weight: 300;
            width: 165px;
            color: $theme_color;
            font-family: 'Roboto';

            &::first-line {
                font-family: "Bruno Ace SC", 'sans-serif' !important;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: bolder;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 2px;
            }
        }

        svg {
            padding: 0;
            width: auto;
            margin: 0;
            height: 45px;

            path,
            rect {
                fill: $theme_color;
            }
        }


    }

    // &.scrolled {

    .menuLink {
        font-size: 0.8;
        padding: 0;

        svg {
            path {
                fill: $black !important;
            }
        }

        &:after {
            background-color: $black;
        }

        &::first-letter {
            font-size: 1rem;
        }
    }

    &:before {
        display: none;
    }

   
}

// }