@import '@SASS/variables';

.heroSec {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url('/raster/Innovative Medical Wellness - cover.webp');
  // background-image: url('/raster/Innovative Medical Wellness.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  perspective: 1px;

  .header {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    padding: 3rem;
    color: $white;
    border-radius: 25px;
    margin-bottom: 0;
    // top: 0;
    left: 5%;
    // right: 0;
    bottom: 35%;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(8px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    h1 {
      color: #222222;
      // color: #d3d3d3;
      font-weight: 300;
      font-size: 1.35rem;
      letter-spacing: 6px;
      margin-bottom: 0;
      width: 45rem;
      text-transform: uppercase;
      padding-bottom: 0.75rem;

      &::first-line {
        color: #000000;
        // color: #ffffff;
        font-family: $font_secondary;
        letter-spacing: 5px;
        text-align: justify;
        width: 100%;
        text-transform: unset;
        font-size: 2rem;
        font-weight: 800;
      }

    }

    p {
      border-top: 3px solid #252525;
      color: #252525;
      font-size: 1rem;
      letter-spacing: 1px;
      text-align: justify !important;
      width: 30rem;
      font-weight: 300;
      margin-top: 0;
      padding-top: 1.25rem;
      padding-right: 2rem;

      @media (max-width: 575px) {
        max-width: calc(100% - 2rem);
      }
    }
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    // transform: translateZ(-1px) scale(2);
  }

  .cta_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    --black: #000000;
* {  
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
    .phone {
      background-color: var(--black);
      border: 2px solid var(--black);
      padding: .35rem .65rem;
      border-radius: 25px;
      display: flex;
      align-items: center;
      column-gap: .5rem;
      color: white;

      svg {
        path {
          fill: white;
        }
      }
      &:hover {
        color: var(--black);
        background-color: white;
        border-color: white;
        svg {
          path {
            fill: var(--black);
          }
        }
      }
    }

    .email {
      display: flex;
      align-items: center;
      background-color: var(--black);
      border-radius: 25px;
      padding: .25rem;

      svg {
        height: 2rem;

        path {
          stroke: var(--black);
          fill: white;
          stroke-width: 1.75px;
        }
      }
      &:hover {
        color: var(--black);
        background-color: white;
        border-color: white;
        svg {
          path {
            fill: var(--black);
            stroke: white;
          }
        }
      }
    }
  }

  .svg_bottom {
    bottom: 0;
    left: 0;
    height: 33vh;
    width: 100%;
    position: absolute;
  }
}


// .page {
//   --gray-rgb: 0, 0, 0;
//   --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
//   --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

//   --button-primary-hover: #383838;
//   --button-secondary-hover: #f2f2f2;

//   display: grid;
//   grid-template-rows: 20px 1fr 20px;
//   align-items: center;
//   justify-items: center;
//   min-height: 100svh;
//   padding: 80px;
//   gap: 64px;
//   font-family: var(--font-geist-sans);
// }

// @media (prefers-color-scheme: dark) {
//   .page {
//     --gray-rgb: 255, 255, 255;
//     --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
//     --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

//     --button-primary-hover: #ccc;
//     --button-secondary-hover: #1a1a1a;
//   }
// }

// .main {
//   display: flex;
//   flex-direction: column;
//   gap: 32px;
//   grid-row-start: 2;
// }

// .main ol {
//   font-family: var(--font-geist-mono);
//   padding-left: 0;
//   margin: 0;
//   font-size: 14px;
//   line-height: 24px;
//   letter-spacing: -0.01em;
//   list-style-position: inside;
// }

// .main li:not(:last-of-type) {
//   margin-bottom: 8px;
// }

// .main code {
//   font-family: inherit;
//   background: var(--gray-alpha-100);
//   padding: 2px 4px;
//   border-radius: 4px;
//   font-weight: 600;
// }

// .ctas {
//   display: flex;
//   gap: 16px;
// }

// .ctas a {
//   appearance: none;
//   border-radius: 128px;
//   height: 48px;
//   padding: 0 20px;
//   border: none;
//   border: 1px solid transparent;
//   transition: background 0.2s, color 0.2s, border-color 0.2s;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 16px;
//   line-height: 20px;
//   font-weight: 500;
// }

// a.primary {
//   background: var(--foreground);
//   color: var(--background);
//   gap: 8px;
// }

// a.secondary {
//   border-color: var(--gray-alpha-200);
//   min-width: 180px;
// }

// .footer {
//   grid-row-start: 3;
//   display: flex;
//   gap: 24px;
// }

// .footer a {
//   display: flex;
//   align-items: center;
//   gap: 8px;
// }

// .footer img {
//   flex-shrink: 0;
// }

// /* Enable hover only on non-touch devices */
// @media (hover: hover) and (pointer: fine) {
//   a.primary:hover {
//     background: var(--button-primary-hover);
//     border-color: transparent;
//   }

//   a.secondary:hover {
//     background: var(--button-secondary-hover);
//     border-color: transparent;
//   }

//   .footer a:hover {
//     text-decoration: underline;
//     text-underline-offset: 4px;
//   }
// }

// @media (max-width: 600px) {
//   .page {
//     padding: 32px;
//     padding-bottom: 80px;
//   }

//   .main {
//     align-items: center;
//   }

//   .main ol {
//     text-align: center;
//   }

//   .ctas {
//     flex-direction: column;
//   }

//   .ctas a {
//     font-size: 14px;
//     height: 40px;
//     padding: 0 16px;
//   }

//   a.secondary {
//     min-width: auto;
//   }

//   .footer {
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//   }
// }

// @media (prefers-color-scheme: dark) {
//   .logo {
//     filter: invert();
//   }
// }